.container {
    margin-top: 40px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.game{    
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding-top: 0px;
}

ul li {
	list-style: none;
	width: 130px;
	height: 130px;
	float: left;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    background-color: #3c0635;
    border: 2px solid rgb(46, 3, 28);
    border-radius: 30px;    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
}

.img-x {
    background-image: url('/assets/images/x2.png');
}

.img-o {
    background-image: url('/assets/images/o2.png');
}

a {
    margin: 20px 0px;
    padding: 10px 20px;
    background-color: rgb(255, 240, 255);
    border-radius: 10px 20px;
    font-weight: bold;
}

a:hover {
    color:rgb(190, 34, 60);
}

a:active {
    color:rgb(255, 80, 89);
}

p {
    font-size: 40px;
    color: #f7e4a1;
}

.botao {
    width: 150px;
    margin: 30px;
}