.container {
    margin: 0 auto;
    width: 80vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
    border: 2px solid purple;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.player {
    width: 50%;
    display: inline-block;
}

#characterName {
    width: 70%;
    height: 25px;
    margin: 0px 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgba(67, 13, 99, 0.623);
    background-color: rgb(224, 209, 238);
    padding: 5px;
}

#characterName:focus {
    border: none;
}

.btn {
    width: 110px;
    height: 35px;
    padding: 10px;
    background-color: rgb(67, 13, 99);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 18vw;
    border-bottom: 3px solid purple;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
}

.card {
    margin: 15px;
    width: 200px;
    align-items: center;
    justify-content: center;
}


