<div class="container">
    <div class="inputs">
    <div class="player 1">
      <h3>Player 1 - Escolha seu personagem <span class="required">*</span></h3>
      <input
        type="text"
        name="characterName"
        id="characterName"
        placeholder=" Buscar personagem"
        (keyup)="findCharacter1($event)"
        required
      />
      <br />
      <div class="error">
        <span *ngIf="notResultPlayer1">Personagem não encontrado</span>
      </div>
    </div>
    <div class="player 2">
      <h3>Player 2 - Escolha seu personagem <span class="required">*</span></h3>
      <input
        type="text"
        name="characterName"
        id="characterName"
        placeholder=" Buscar personagem"
        (keyup)="findCharacter2($event)"
        required
      />
      <div class="error">
        <span *ngIf="notResultPlayer2">Personagem não encontrado </span>
      </div>
    </div>
  </div>
  <div class="cards">
    <div *ngIf="showSearchResult1">
      <div *ngFor="let character1 of searchedCharacter1">
        <div class="card">
          <div class="card-character1">
            <h2>Player 1</h2>
            <img class="player-img"
              src="{{ character1.thumbnail.path }}.{{
                character1.thumbnail.extension
              }}"
              alt="Imagem do personagem {{ character1.name }}"
            />
            <h4>{{ character1.name }}</h4>
            <div class="botao-confirm">
              <input
                *ngIf="!closeBtnConfirmPlayer1"
                type="button"
                value="Confirmar"
                class="btn"
                id="btn-character1"
                (click)="confirmCharacter1(character1.name)"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showSearchResult2">
      <div *ngFor="let character2 of searchedCharacter2">
        <div class="card">
          <div class="card-character2">
            <h2>Player 2</h2>
            <img class="player-img"
              src="{{ character2.thumbnail.path }}.{{
                character2.thumbnail.extension
              }}"
              alt="Imagem do personagem {{ character2.name }}"
            />
            <h4>{{ character2.name }}</h4>
            <input
              *ngIf="!closeBtnConfirmPlayer2"
              type="button"
              value="Confirmar"
              class="btn"
              id="btn-character2"
              (click)="confirmCharacter2(character2.name)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-iniciar">
    <button class="btn" (click)="newStartGame()" [disabled]="!closeBtnConfirmPlayer1 || !closeBtnConfirmPlayer2"> Iniciar jogo</button>
  </div>
</div>
